main
simple
*.o
popcnt
hello
exit
6502add
int3
add
addwithvars
main
*.lst
*.map
brk
cbrk
empty
exit_bb
exit_bb_bb
mov
usesum
usesum2
usesum3
usesum4
usesum5
usesum6
selfmodify
codeptrs
tree
tree_bb
brk.I
exit.I
exit_bb.I
playertest
usesumheap
usesumIO
100.bin