<style>
        #notebook { padding-top:0px !important; }  
        .container { width:100% !important; } 
        .CodeMirror { width:100% !important;}
        .end_space { min-height:0px !important; } 
        .prompt { display:none }
        .terminal-app #terminado-container { width:100%; }
        div.mywarn { background-color: #fcf2f2;border-color: #dFb5b4; border-left: 5px solid #dfb5b4; padding: 0.5em;}
        button { background-color: #cccccc00; }
</style>
